<div class="user-list-container">
  <div class="container">
    <!-- Loading spinner -->
    <div *ngIf="loading" class="loading-container">
      <div class="spinner"></div>
      <p>Loading users...</p>
    </div>

    <!-- User grid -->
    <div *ngIf="!loading" class="user-grid">
      <div
        *ngFor="let user of users"
        class="user-card"
        (click)="onUserClick(user.id)"
        [attr.data-user-id]="user.id"
      >
        <div class="user-avatar">
          <img [src]="user.image" [alt]="user.firstName + ' ' + user.lastName" />
        </div>
        <div class="user-info">
          <h3>{{ user.firstName }} {{ user.lastName }}</h3>
          <p class="user-id">ID: {{ user.id }}</p>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div *ngIf="!loading && users.length > 0" class="pagination">
      <button
        type="button"
        class="btn btn-secondary"
        [disabled]="currentPage === 1"
        (click)="onPageChange(currentPage - 1)"
      >
        Previous
      </button>

      <span class="page-info">
        Page {{ currentPage }} of {{ totalPages }}
      </span>

      <button
        type="button"
        class="btn btn-secondary"
        [disabled]="currentPage === totalPages"
        (click)="onPageChange(currentPage + 1)"
      >
        Next
      </button>
    </div>

    <!-- No users message -->
    <div *ngIf="!loading && users.length === 0" class="no-users">
      <p>No users found.</p>
    </div>
  </div>
</div>
